<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/favicon.png" />
  </head>
  <body>
    <header id="header">
      <div class="header">
        <div class="banner">
          <a href="/">
            <img src="/static/icons/logo.png" alt="logo" width="45", height="45" />
            <b>{{ title }}</b>
          </a>
        </div>
      </div>
    </header>
    <hr class="separator" />
    <main>
      <section class="title">
        <div class="row">
          <h1>{{ subtitle }}</h1>
          <p>{{ description }}</p>
        </div>
      </section>
      <section class="files">
        <div class="row no-padding">
          <section class="file-table">
            <div class="file-table-row">
              <div class="file-icon">
                <img src="/static/icons/blank.gif" alt="Icon " width="22" height="22">
              </div>
              <a class="file-table-elem file-table-title" href="?C=N;O=D">Name</a>
              <a class="file-table-elem file-table-title" href="?C=M;O=A">Last modified</a>
              <a class="file-table-elem file-table-title" href="?C=S;O=A">Size</a>
            </div>
            <hr class="separator">
            <hr>
            {% for file in files %}
            <div class="file-table-row file-table-row-hover">
              <a class="file-table-link" href="{{file.path}}">
                <div class="file-icon">
                {% if file.icon %}
                    <img src="{{file.icon}}" alt="[DIR]" width="22" height="22">
                {% endif %}
                {% if file.icon == null %}
                    {% if file.is_directory %}
                        <img src="/static/icons/folder.png" alt="[DIR]" width="22" height="22">
                    {% else %}
                        <img src="/static/icons/file.png" alt="[DIR]" width="22" height="22">
                    {% endif %}
                {% endif %}
                </div>
                <p class="file-table-elem">{{ file.name }}</p>
                <p class="file-table-elem">{{ file.last_modified }}</p>
                <p class="file-table-elem">{{ file.size }}</p>
              </a>
            </div>
            {% endfor %}
            <hr>
          </section>
        </div>
      </section>
    </main>
    </body>
</html>
