<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <title>File Server | Next Hat</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/favicon.png" />
  </head>
  <body>
    <header id="header">
      <div class="header">
        <div class="banner">
          <a href="/">
            <img src="/static/icons/logo.png" alt="logo" width="45", height="45" />
            <b>Next Hat FS</b>
          </a>
        </div>
      </div>
    </header>
    <hr class="separator" />
    <main>
      <section class="title">
        <div class="row">
          <h1>Next Hat file server</h1>
          <p>Next Hat file server are the official Next Hat file hosted by next hat</p>
        </div>
      </section>
      <section class="files">
        <div class="row no-padding">
          <section class="file-table">
            <div class="file-table-row">
              <div class="file-icon">
                  <img  src="/static/icons/blank.gif" alt="Icon " width="22" height="22">
              </div>
              <a class="file-table-elem file-table-title" href="?C=N;O=D">Name</a>
              <a class="file-table-elem file-table-title" href="?C=M;O=A">Last modified</a>
              <a class="file-table-elem file-table-title" href="?C=S;O=A">Size</a>
            </div>
            <hr class="separator">
            <hr>
            {{#files}}
            <div class="file-table-row file-table-row-hover">
              <a class="file-table-link" href="{{path}}">
                <div class="file-icon">
                  {{#icon}}
                    <img src="{{icon}}" alt="[DIR]" width="22" height="22">
                  {{/icon}}
                  {{^icon}}
                    {{#is_directory}}
                      <img src="/static/icons/folder.png" alt="[DIR]" width="22" height="22">
                    {{/is_directory}}
                    {{#is_file}}
                      <img src="/static/icons/file.png" alt="[DIR]" width="22" height="22">
                    {{/is_file}}
                  {{/icon}}
                </div>
                <p class="file-table-elem">{{name}}</p>
                <p class="file-table-elem">{{last_modified}}</p>
                <p class="file-table-elem">{{size}}</p>
              </a>
            </div>
            {{/files}}
            <hr>
          </section>
        </div>
      </section>
    </main>
    </body>
</html>
